    header {
        background-color: #333333;
    }

    h1 {
        font-size: 28px;
        color: #eee;
    }

    h2 {
        font-size: 24px;
    }

    .container {
        margin: 0 auto;
    }

    .cool-stuff {
        float: left; 
    }

    .listofthings {
        float: left;
        line-height: 1.5;
    }

    
    body {
        background-color: #efeee7;
        font-family: Georgia,"Times New Roman",Times,serif;
        color: #333333;
        margin: 0;
        padding: 0;
    }